@import url(../../css/pages/headerEmDetail.css);
@import url(../../css/pages/footerEmDetail.css);
@import url(../../css/pages/contentEmDetail.css);
@font-face {
    font-family: face;
    src: url(../../assets/fonts/notosans-regular.2cb88a13.woff2);
}
*{
font-family: face;
}
body{
    margin: 0;
    box-sizing: border-box;
}
#main-add-new{
    background-color: rgb(149, 143, 143);
    position: fixed;
            top: 0;
            right: 0;
            left: 0;
            bottom: 0;
            width: 100vw;
            height: 100vh;
            display: flex;
            align-items: center;
            justify-content: center;     
}
.container-add-new{
    background-color: #fff;
    box-sizing: border-box;
            width: 50%;
            height: 70vh;
            display: grid;
            grid-template-rows: 56px 1fr 56px;
            padding: 16px 16px;
            border-radius: 8px; 
            border: 1px solid gray 
}
.header-add-new{
    width: 100%;
    height: 56px;
            display: flex;
            align-items: center;
            justify-content: space-between;

}
.content-info{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-column-gap: 24px;
}
.page-footer-add-new{
    border-top: 2px solid gray;
    width: 100%;
    height: 56px;
}